.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  nav {
    margin-left: 5rem;
    height: 100%;

    a {
      display: inline-flex;
      align-items: center;
      position: relative;
      padding: 0 0.5rem;
      height: 100%;
      color: var(--gray-300);

      transition: all 200ms linear;

      overflow: hidden;

      &::after {
        content: '';
        height: 3px;
        width: 100%;
        border-radius: 3px 3px 0 0;

        transform: translateY(5px);

        position: absolute;
        bottom: 0;
        left: 0;

        transition: all 300ms;

        background-color: var(--yellow-500);
      }

      &:hover,
      &:focus {
        color: var(--white);
      }

      + a {
        margin-left: 2rem;
      }
    }

    .active {
      color: var(--white);
      font-weight: bold;
    }

    .active::after {
      transform: translateY(0);
    }
  }

  button {
    margin-left: auto;
  }
}
